<mdb-card class="questionPallate">
  <mdb-card class="questionHeading">
    <h4 style="padding: 8px 5px 5px 5px;">{{questionCount + 1 }}. {{currentQuestionStatement}}</h4>
    <div>
      <div class="options"> 
        <div class="custom-control custom-radio eachOption" *ngFor="let option of currentQuestionOptionsArray; let i = index">
          <input type="radio" class="custom-control-input" id="{{ 'option'+i.toString() }}" name="questionOption"
            value="{{i}}" [(ngModel)]="answer" (change)="answerChoose($event)" [checked]="true"
          >
          <label class="custom-control-label" for="{{ 'option'+i.toString() }}">{{option}}</label>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect 
          (click)="prevQuestionBtn()" 
          [disabled]="questionCount == 0"
        >Previous</button>
      </div>
      <div class="col-6 text-right">
        <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect 
          (click)="nextQuestionBtn()" 
          [disabled]="questionCount == 4"
        >Next</button>
      </div>
      
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect 
          (click)="showModal(basicModal)"
          *ngIf="quizQuestionArrayRecord.length == 5"
        >Submit</button>
      </div>
    </div>
  </mdb-card>
</mdb-card>


<!-- Submit worning modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade text-center" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title w-100 text-left" id="myModalLabel">Are you sure?</h1>
      </div>
      <div class="modal-body text-left">
        <h4 style="color: #e53935;">Are you sure to submit this quiz session right now ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="default" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>No</button>
        <button type="button" mdbBtn class="waves-light modal-submit-btn" aria-label="Close" (click)="submitQuiz()" mdbWavesEffect>Yes</button>
        
      </div>
    </div>
  </div>
</div>