<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark default-color scrolling-navbar ie-nav" [containerInside]="false">
    <mdb-navbar-brand *ngIf="!quizStarted">
        <a class="logo navbar-brand" [routerLink]="['']"><strong>Programming Quiz</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect *ngIf="!quizStarted">
                <a class="nav-link" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" *ngIf="quizStarted">
                <a class="nav-link"><i class="fa fa-user" aria-hidden="true"></i>Welcome, {{candidateName}}</a>
            </li>
            <li class="nav-item waves-light" *ngIf="quizStarted">
                <a class="nav-link"><i class="fa fa-book" aria-hidden="true"></i>Subject: {{quizSubjectName}}</a>
            </li>  
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" *ngIf="quizStarted">
                <a class="nav-link quiz-timer">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 
                    {{ timerMin <10 ? ('0'+timerMin.toString()) : timerMin }} : 
                    {{ timerSec <10 ? ('0'+timerSec.toString()) : timerSec }}
                </a>
            </li>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" class="header-help-icon"  
                (click)="quizInstruction.show()"
                mdbTooltip="Click here to see quiz instructions" placement="bottom" mdbWavesEffect
            >
                <i class="material-icons">help</i>
            </li>
        </ul>
    </links>
</mdb-navbar>



<!-- Quiz instruction modal -->
<div mdbModal #quizInstruction="mdbModal" class="modal fade text-center" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="quizInstruction.hide()" style="outline: none;">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title w-100 text-left" id="myModalLabel">Quiz Instructions</h1>
      </div>
      <div class="modal-body text-left">
        <div>
            Some quiz instructions content
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="waves-light modal-close-btn" aria-label="Close" (click)="quizInstruction.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>