<mdb-card class="subjectChooseContsain">
  <h2 style="margin: 20px;">Choose your subject</h2>
  <form>
      <select name="subject" class="subjectSelectBox" [(ngModel)]="selectedSubject">
        <option *ngFor="let subject of subjectList" value="{{subject.subject_id}}">{{subject.subject_name}}</option>
      </select>
      <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect (click)="showConfirmModal()"
        [disabled]="selectedSubject === undefined"
      >
        submit
      </button>
  </form>
</mdb-card>

<app-warning-modal
  [modalHeading]="'Comfirm!'"
  [modalBodyContent]="'Are you confirm to start this quiz session right now?'"
  [modalPrimaryColor]="'red'"
  (onConfirmBtnClick)="sujectSelectionFormSubmit($event)"
  [confirmBtnText]="'Confirm'"
  [closeBtnText]="'No'"
  [confirmBtnShow]="true"
></app-warning-modal>