<app-header 
    [quizStarted]="quizStarted"
    [candidateName] = "candidateName"
    [quizSubjectName] = "quizSubjectName"
    [quizTime] = "quizTime"
></app-header>
<!-- Main -->
<button 
    *ngIf="isHome"
    mdbBtn type="button" 
    color="primary" 
    rounded="true" 
    class="waves-light"
    mdbTooltip="To start a quiz session" 
    placement="right"
    mdbWavesEffect
    (click)="showModal()"
>
    Start Quiz
</button>
<main>
  <div class="container" style="height:auto">
      <div class="row mt-5 pt-5">
          <div class="col text-center">
              <div class="myRoutes">
                <router-outlet (activate)="routerNavigation($event)"></router-outlet>
              </div>
          </div>
      </div>
  </div>
</main>
<!-- Cofirm modal -->
<app-warning-modal
  [modalHeading]="'Comfirm!'"
  [modalBodyContent]="'Are you sure to start this quiz session right now?'"
  [modalPrimaryColor]="'green'"
  (onConfirmBtnClick)="startQuizBtn()"
  [confirmBtnText]="'Yes'"
  [closeBtnText]="'No'"
  [confirmBtnShow]="true"
></app-warning-modal>