<app-header 
    [quizStarted]="quizStarted"
    [candidateName] = "candidateName"
    [quizSubjectName] = "quizSubjectName"
    [quizTime] = "quizTime"
></app-header>
<!-- Main -->
<button 
    *ngIf="isHome"
    mdbBtn type="button" 
    color="primary" 
    rounded="true" 
    class="waves-light"
    mdbTooltip="To start a quiz session" 
    placement="right"
    mdbWavesEffect
    (click)="basicModal.show()"
>
    Start Quiz
</button>
<main>
  <div class="container" style="height:auto">
      <div class="row mt-5 pt-5">
          <div class="col text-center">
              <div class="myRoutes">
                <router-outlet (activate)="routerNavigation($event)"></router-outlet>
              </div>
          </div>
      </div>
  </div>
</main>
<!-- /.Main -->

<!-- Warning modal before starting modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade text-center" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title w-100 text-left" id="myModalLabel">Are you sure?</h1>
      </div>
      <div class="modal-body text-left">
        <h4 style="color: #00897b;">Are you sure to start a quiz session right now ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="waves-light modal-close-btn" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>No</button>
        <button type="button" mdbBtn class="waves-light modal-submit-btn" aria-label="Close" (click)="startQuizBtn($event)" mdbWavesEffect>Yes</button>
        
      </div>
    </div>
  </div>
</div>