<app-header 
    [quizStarted]="quizStarted"
    [candidateName] = "candidateName"
    [quizSubjectName] = "quizSubjectName"
    [quizTime] = "quizTime"
></app-header>
<!-- Main -->
<button 
    *ngIf="isHome"
    mdbBtn type="button" 
    color="primary" 
    rounded="true" 
    class="waves-light" 
    mdbWavesEffect
    (click)="startQuizBtn($event)"
>
    Start Quiz
</button>
<main>
  <div class="container" style="height:auto">
      <div class="row mt-5 pt-5">
          <div class="col text-center">
              <div class="myRoutes">
                <router-outlet (activate)="routerNavigation($event)"></router-outlet>
              </div>
          </div>
      </div>
  </div>
</main>
<!-- /.Main -->