.myRoutes {
    margin-top: 30px;
}

.modal-header {
    background-color: #00897b;
    color: white;
}

.modal-submit-btn {
    background-color: #00897b;
}

.modal-close-btn {
    background-color: #e0f2f1;
    color: #00897b;
}