<!-- Material form login -->
<div class="card candidate-details-form">
  <h1>Candidate Details</h1>
  <form [formGroup]="candidateDetailsForm">
      <div class="md-form form-container">
          <input mdbInputDirective type="text" id="name" name="name" class="form-control"
          formControlName="name" [errorMessage]="'Name is required.'" [validateSuccess]="false"
          >
          <label for="form1" class="">Enter Your Name</label>
      </div>
      <div class="md-form form-container">
          <input mdbInputDirective type="text" id="name" name="name" class="form-control"
            formControlName="email" [errorMessage]="'Email is required.'" [validateSuccess]="false"
          >
          <label for="form1" class="">Enter Your Email</label>
      </div>
      <button [disabled]="submitDisableBtnStatus" mdbBtn type="submit" 
        style="margin-top: 20px;" color="primary" class="waves-light" 
        mdbWavesEffect (click)="formSubmit(candidateDetailsForm,$event)"
      >
        Submit
      </button>
  </form>

</div>
